	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="/semantic-ui/semantic.min.js"></script>
	<script type="text/javascript">
		// fix main menu to page on passing
		$('.main.menu').visibility({
			type: 'fixed'
		});
	</script>
</body>
</html>