<!DOCTYPE html>
<html>
<head>
	<title>Express Boilerplate</title>

	<link rel="stylesheet" type="text/css" href="/semantic-ui/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
	<div class="ui borderless main menu">
		<div class="ui text container">
			<a href="/" class="header item">
				<i class="ui home icon"></i>
				Express Boilerplate
			</a>
			<div class="right menu">
				<a href="#" class="item">Login</a>
				<a href="#" class="item">Sign Up</a>
				<a href="#" class="item">Logout</a>
			</div>
		</div>
	</div>