<div class="ui text segment container">
	<form action="/login" class="ui form" method="POST">
		<div class="required field">
			<label>Username</label>
			<input required type="text" name="username" placeholder="Username">
		</div>
		<div class="required field">
			<label>Password</label>
			<input required type="password" name="password" placeholder="Password">
		</div>
		<div class="field" style="overflow: hidden;">
			<button class="ui right floated inverted blue button" type="submit">Login</button>
		</div>
	</form>
</div>