<!DOCTYPE html>
<html>
<head>
	<title>Blog App</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
	<div class="ui fixed inverted main menu">
		<div class="ui container">
			<div class="header item"> <i class="ui big code icon"></i>Blog Site</div>
			<a href="/" class="item"><i class="ui home icon"></i> Home </a>
			<a href="/blogs/new" class="item">New Post</a>
		</div>		
	</div>
	<div class="ui huge margin top container"></div>